<script src="js/bancaria.js"></script>
<div id="tabs" style="height: 88vh; border-radius: 9px;">
  <ul>
    <li><a href="#fragment-1" onclick="operacoes.init()"><span>Operações</span></a></li>
    <li><a href="#fragment-2" onclick="contas.init()"><span>Contas</span></a></li>
    <li><a href="#fragment-3" onclick="bancos.init()"><span>Bancos</span></a></li>
  </ul>
  <div id="fragment-1">

                <div class="conteudo">
                  <p class="legend">Operações</p>
                  <div class="contem-tabela">
                      <!--<div class="action-table">
                          <button onclick="pedidos.criar()" style="font-size: .7em;"><i class="fas fa-dollar-sign"></i> Criar </button>
                      </div>-->
                      <table class="padrao" id="tbl_pedidos">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Conta</th>
                                  <th>Tipo</th>
                                  <th>Usuario</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
                </div>

  </div>
  <div id="fragment-2">

        <div class="conteudo">
          <p class="legend">Contas</p>
          <div class="contem-tabela">
              <div class="action-table">
                  <button onclick="contas.criar()" style="font-size: .7em;"><i class="fas fa-barcode"></i> Criar </button>
              </div>
              <table class="padrao" id="tbl_fornecedor">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Numero</th>
                          <th>Banco</th>
                          <th>Saldo</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
        </div>

  </div>
  <div id="fragment-3">

          <div class="conteudo">
            <p class="legend"> Bancos </p>
            <div class="contem-tabela">
                <div class="action-table">
                    <button onclick="bancos.criar()" style="font-size: .7em;"><i class="fas fa-archive"></i> Criar </button>
                </div>
                <table class="padrao" id="tbl_produtos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Agencia</th>
                            <th>Cidade</th>
                            <th>UF</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
          </div>

  </div>
</div>

<script>
$( "#tabs" ).tabs();
setTimeout(function(){
  operacoes.init();
},350)
</script>
