<div class="conteudo">
  <p class="legend">Funcionários</p>
  <div class="contem-tabela">
      <div class="action-table">
          <button onclick="funcionarios.criar()"><i class="far fa-user"></i> Criar </button>
      </div>
      <table class="padrao" id="tbl_funcionarios">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Cargo</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  </div>
  <script src="js/funcionario.js"></script>
</div>
