<!DOCTYPE html>
<html>
<head>
    <title> MobiShare </title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
    <script src="libs/chartjs/chart.bundle.min.js"></script>
</head>
<body>
    <div class="center-vertical">
        <img src="img/icon.png">
        <div class="grup">
            <label> Usuario : </label>
            <input type="text">
        </div>
        <div class="grup">
            <label> Senha : </label>
            <input type="password">
        </div>
        <button onclick="notifyBrowser()" style="float: right; margin-top: 5px;">Salvar</button>
     </div>
    <script>
    </script>
</body>
</html>
