<!DOCTYPE html>
<html>
<head>
    <title> MobiShare </title>
    <meta charset="utf-8">
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="font/awesome/all.css">
    <link rel="stylesheet" href="font/elegant/style.css">
    <link rel="stylesheet" href="libs/jquery-ui/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/login.js"></script>
    <!--<script src="libs/chartjs/chart.bundle.min.js"></script>-->
</head>
<body>
    <div class="center-vertical">
        <form onsubmit="logar(this)" >
          <img src="img/icon.png">
          <div class="grup">
              <label> Usuario : </label>
              <input type="text" name='login' placeholder="example@mail.com ou 482.268.268-15">
          </div>
          <div class="grup">
              <label> Senha : </label>
              <input type="password" name='senha' placeholder="123">
          </div>
          <button  style="float: right; margin-top: 5px;">Salvar</button>
        </form>
     </div>
     <script>

     </script>
</body>
</html>
