<link rel="stylesheet" href="pdf.css">

<div class="page apresentacao">
    
    <div class="center-vertical">
        <img src="img/icon.png">
        <h2> Janeiro  de 2019 </h2>
        <h3> Pedidos</h3>
        <h4> 1 de 3 </h4>
    </div>
    


</div>
<div class="page">
    <div class="legend">
        <div class="conteudo">
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
           --P2 2019-08-27 08:32:00 Pedido U 1 : N°5345435345435
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Cod</th>
                    <th>Fornecedor</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>584</td>
                    <td>Gilberto</td>
                    <td>P34534</td>
                    <td>SmartHouse</td>
                    <td>R$ 384,80</td>
                    <td> OK </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="rodape">
        <div class="separador">
            N°5345435345435
        </div>
        <div class="paginas">
            2 de 3
        </div>
    </div>


</div>

