<div class="conteudo">


<p class="legend">Usuarios</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>online</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>gilberto.tec@vivaldi.net</td>
            <td>482.268.587-14</td>
            <td>3h</td>
            <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>sandra@vivaldi.net</td>
            <td>482.268.587-14</td>
            <td>1h</td>
            <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>rafael@vivaldi.net</td>
            <td>482.268.587-14</td>
            <td>5h</td>
            <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
        </tr>
    </tbody>
</table>

<script src="js/tblUsuario.js"></script>
</div>