<div class="conteudo">

<p class="legend">Usuarios</p>
<div class="contem-tabela">
    <div class="action-table">
        <button onclick="usuarios.criar()"><i class="far fa-user"></i> Criar </button>
    </div>
    <table id="tbl_usuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>online</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="js/usuario.js"></script>
<link rel="stylesheet" href="css/usuario.css">
<script src="libs/jquery-ui-multiselect/jquery.multiselect.js"></script>
<script src="libs/jquery-ui-multiselect/jquery.multiselect.filter.js"></script>
<link rel="stylesheet" href="libs/jquery-ui-multiselect/jquery.multiselect.filter.css">
<link rel="stylesheet" href="libs/jquery-ui-multiselect/jquery.multiselect.css">
</div>
