<div class="conteudo">

<p class="legend">Usuarios</p>
<div class="contem-tabela">
    <div class="action-table">
        <button onclick="usuario.dao.insert()"><i class="far fa-user"></i> Criar </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>online</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>gilberto.tec@vivaldi.net</td>
                <td>482.268.587-14</td>
                <td>3h</td>
                <td class="center">
                <a href="#">
                    <label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>sandra@vivaldi.net</td>
                <td>759.837.120-20</td>
                <td>1h</td>
                <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>rafael@vivaldi.net</td>
                <td>990.772.050-04</td>
                <td>5h</td>
                <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>alexandre@vivaldi.net</td>
                <td>028.371.370-49</td>
                <td>5h</td>
                <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>matheus@vivaldi.net</td>
                <td>051.066.660-40</td>
                <td>5h</td>
                <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>joao@vivaldi.net</td>
                <td>141.948.470-24</td>
                <td>5h</td>
                <td class="center"><a href="#"><label><i class="far fa-eye"></i>Exibir</label></a> <a href="#"><label><i class="far fa-trash-alt"></i>Deletar</label></a> <a href="#"><label><i class="fas fa-edit"></i>Editar</label></a></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="js/usuario.js"></script>
</div>