body{
    padding: 0px;
    margin: 0px;
    background-image:url('../img/bg.jpg');
    background-size:cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
header{
    padding-top: 7px;
}
#logo{padding-left: 10px;/* float: left; */}
#logo .logo,#logo .desc{
    display: inline-block;
    float: left;
    height: 22vmin;
}
#logo .logo{height: auto;overflow: auto;}
#logo .desc{
    width: 100px;
    height: auto;
    padding-top: 1.5vmax;
}
#logo img{width: 5vmax;min-width: 52px;/* display: inline-block; *//* float: left; */}
#logo label{
    /* position: relative; */
    /* display: inline-block; */
}
header form[role="search"]{
    padding-top: 1.2vmax;
    width: 49%;
}
form .content-icon-input{display: inline-block;}
form[role] .content-icon-input input[type="text"]{
  box-sizing: border-box;
  height: 26px;
  border-radius: 4px;
  border: solid .04rem;
}
form .content-icon-input input[type="text"]{
    text-align: initial;
    text-indent: 4px;
    box-shadow: none;
    padding-left: 22px;
}
form .content-icon-input span[aria-hidden="true"]{
    position: relative;
    line-height: 1.7;
    margin-right: -24px;
    font-size: 1em;
}
header form[role="search"] .content-icon-input input[type="text"]:focus{
  border-color:#5cb85c;
  outline:none;
}

div[role="main"]{
    /* min-height: 88vmin; */
    bottom: 0;
    /* position: relative; */
}
div[role="main"] div[data-model="user"]{display: inline-block;height: auto;overflow: auto;padding-left: 14px;margin-top: 32px;}
div[role="main"] div[data-model="user"] .img{display: inline-block;float: left;}
div[role="main"] div[data-model="user"] .img img{
    min-height: 47px;
    min-width: 47px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 100px;
    cursor: pointer;
}
div[role="main"] div[data-model="user"] .desc{
    display: inline-block;
    float: left;
    padding-left: 5px;
    text-align: initial;
    padding-top: .6vmax;
}
div[role="main"] nav[role="menu"]{display: block;max-height: 501px;}
div[role="main"] nav[role="menu"] div[role="itemmenu"]{
    min-width: 100%;
    min-height: 47px;
    background: #e6e6e6;
    border: solid  #ccc;
    border-width: 0.01px 0px 1px 0px;
    display: table;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(252,252,252)), to(rgb(249,249,249)));
    background-image: -webkit-linear-gradient(top, rgb(252,252,252), rgb(249,249,249));
    background-image: -o-linear-gradient(top, rgb(252,252,252), rgb(249,249,249));
    background-image: linear-gradient(to bottom, rgb(252,252,252), rgb(249,249,249));
}
div[role="main"] nav[role="menu"] div[role="itemmenu"]:hover{
    background-image: -moz-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(239,239,239)), to(rgb(232,232,232)));
    background-image: -webkit-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: -o-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: linear-gradient(to bottom, rgb(239,239,239), rgb(232,232,232));
    color: #0ce8c6;
    border-color: #cecdcd;
}
div[role="main"] nav[role="menu"] div[role="itemmenu"]:hover > div i{
    background-color:black;
}
div[role="main"] nav[role="menu"] div[role="itemmenu"] div{
    display: table-cell;
    vertical-align: middle;
}
div[role="main"] nav[role="menu"] div[role="itemmenu"] div i{
    float: left;
    font-size: 2em;
    background-color: white;
    height: 50px;
    width: 48px;
    line-height: 1.5;
    text-align: center;
}
div[role="main"] nav[role="menu"] div[role="itemmenu"] div a{
    line-height: 3;
}
#painel-menu-usuario{
    max-width:400px;
}
div[role="main"] #painel{
    /* outline: solid 1px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid .09rem #ccc;
    min-height: 88vh;
    border-radius: 12px 12px 0px 0px;
    padding-top: 0px;
    background-color: #f9f9f9;
    height: auto;
}
nav[role="menu"]{
    max-width:400px;
}
#painel .legend{
    text-indent: 17px;
    border-bottom: solid .1rem #707170;
    min-width: 20%;
    max-width: 219px;
    margin-left: auto;
    font-size: 1.4em;
}
table.padrao,.action-table{
    min-width: 550px;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 17px;
}
table.padrao{
    border: solid #ddd;
    border-width: 1px 0.2px 0px 0.2px;
    min-width: 550px;
    width: 85%;
    margin-left:auto;
    margin-right:auto;

    /* Retirando o border */
    border-collapse: unset;
    border-spacing:unset;
}
table.padrao thead tr th,table.padrao tbody tr td{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    trasition:all cubic-bezier(0, 0, 0.1, 1.17) 3s;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
table.padrao tbody tr{animation: fadeInRight 1s 1 cubic-bezier(0, 0, 0, 0.67);font-size: 0.8em;}
/* Cor do poder!!
tbody tr td:nth-child(even) {
  background-color:black;
  color: #0ce8c6;
}
tbody tr td:nth-child(even):hover{
    color:#00ff37;
}
*/
tbody tr:hover{
    background-image: -moz-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(239,239,239)), to(rgb(232,232,232)));
    background-image: -webkit-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: -o-linear-gradient(top, rgb(239,239,239), rgb(232,232,232));
    background-image: linear-gradient(to bottom, rgb(239,239,239), rgb(232,232,232));
    color: #1f1e1e;
    border-color: #cecdcd;
    cursor:pointer;
}

tbody tr td:hover{
    color:#000000;
    /*background-color:black;
    color: #0ce8c6;*/
}
.contem-tabela{
    width: auto;
    overflow-x: hidden;
}
.contem-tabela .action-table{

}
.contem-tabela .action-table button{

}
#container{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.7);
    position:absolute;
    display: none;
    top: 0;
    left: 0;
}
#container.active{
    display:block;
    animation: bounceInUp 3s cubic-bezier(0.27, 1.23, 0.75, 1.22);
}


@media screen and (min-width: 1605px){
    div[role="main"] #painel{
        width: calc(100vw - 411px)!important;
        /* width: unset; */
    }
}

/* Animação baunce */
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
